{% extends "appointments/layout.html" %}
{% load static %}

{% block body %}
    <br>
    {% if message %}
        <div class="alert alert-danger">
            <p>{{ message }}</p>
        </div>
    {% endif %}

    {% if mssage %}
        <div class="alert alert-success">
            <p>{{ mssage }}</p>
        </div>
    {% endif %}

    <div class="hos">
        <h4>Appointments to Dr. {{ dr.user.username }}
            <h5>{{ dr.specialization }} specialist</h3>
        </h2>
        <p><b>Treatment Time:</b> From {{ dr.fro }} to {{ dr.to }} on every {{ dr.weeks }}.</p>
        <hr>
        <form method="post" action="{% url 'appointments:appointment' did %}">
            {% csrf_token %}
            <br>
            <p><b>Set Treatment Date:</b> <input type="date" name="treatment_date" id="treatment_date" required></p>
            <label><b>Age: </b></label><input class="form-control" type="number" placeholder="Age" name="age" min=0 max=150 required><br>
            <label><b>Problem: </b></label><textarea class="form-control" name="problem" placeholder="Problem" required></textarea><br>
            <input type="submit" class="btn btn-success" value="Submit Appointment">
        </form>
    </div>
    <h2>Your pending appointments</h2>
    {% for ap in apn %}
        {% if not ap.is_complete %}
            <div class="hos">
                <p><b>Treatment:</b> Pending...</p>
                <p><b>Appointed on:</b> {{ ap.appointment_time }}</p>
                <p><b>Treatment Date:</b> {{ ap.treatment_date }}</p>
                <p><strong>Treatment Serial Number: </strong><b>{{ ap.serial_number }}</b></p>
                <form method="post" action="{% url 'appointments:del_ap' ap.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="pat" value="Patient">
                    <input type="hidden" name="my_all_ap" value="False">
                    <input type="hidden" name="dr_id" value="{{ did }}">
                    <button type="submit" class="btn btn-danger" id="bt-{{ ap.id }}">Cancel Appointment</button>
                </form>
            </div>
        {% endif %}
    {% empty %}
        <p>No appointments yet.</p>
    {% endfor %}

    {% block script %}
        <script src="{% static 'accounts/script.js' %}"></script>
    {% endblock %}

{% endblock %}
