{% extends "appointments/layout.html" %}
{% load static %}

{% block body %}
    {% if message %}
        <div class="alert alert-danger">
            <p>{{ message }}</p>
        </div>
    {% endif %}

    {% if mssage %}
        <div class="alert alert-success">
            <p>{{ mssage }}</p>
        </div>
    {% endif %}

    <h1>Book an Appointment</h1>
    <div class="hos">
        <form method="post" action="{% url 'appointments:book' %}">
            {% csrf_token %}
            <label for="doctor"><b>Choose Doctor:</b></label>
            <select name="doctor" id="doctor" class="form-control">
                {% for doctor in doctors %}
                    <option value="{{ doctor.id }}">Dr. {{ doctor.user.username }} ({{ doctor.specialization }} specialist at {{ doctor.hospital }}, treatment time: from {{ doctor.fro }} to {{ doctor.to }} on every {{ doctor.weeks }}).</option>
                {% endfor %}
            </select>
            <br>
            <p><b>Set Treatment Date:</b> <input type="date" name="treatment_date" id="treatment_date" required></p>
            <label><b>Age: </b></label><input class="form-control" type="number" placeholder="Age" name="age" min=0 max=150 required><br>
            <label><b>Problem: </b></label><textarea class="form-control" name="problem" placeholder="Problem" required></textarea><br>
            <input type="submit" class="btn btn-success" value="Submit Appointment">
            <br>
        </form>
    </div>

    {% block script %}
        <script src="{% static 'accounts/script.js' %}"></script>
    {% endblock %}
{% endblock %}
