{% extends "appointments/layout.html" %}

{% block body %}
    {% if message %}
        <div class="alert alert-danger">
            <p>{{ message }}</p>
        </div>
    {% endif %}

    {% if mssage %}
        <div class="alert alert-success">
            <p>{{ mssage }}</p>
        </div>
    {% endif %}

    <h2>Pending patients</h2>
    <div class="hos">
        <h4>Filter patients by date</h4>
        <hr>
        <br>
        <p><b>Select Date:</b> <input type="date" name="date" id="trtdate" required>
            <input type="submit" class="btn btn-primary" id="ftbtn" value="Filter">
        </p>
    </div>

    <div id="all-p">
        <h4>All pending patients</h4>
        {% for fpt in patients %}
            <div class="hos">
                <h5>Patient Name: {{ fpt.patient.user.username }}</h5>
                <b>Age: {{ fpt.age }}</b>
                <b>Problem: {{ fpt.problem }}</b>
                <b>Serial Number: {{ fpt.serial_number }}</b>
                <P><b>Treatment Date: </b>{{ fpt.treatment_date }}</P>
                <form method="post" action="{% url 'appointments:del_ap' fpt.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="doc" value="Doctor">
                    <input type="hidden" name="allpat" value="False">
                    <button type="submit" class="btn btn-primary" id="bt-{{ fpt.id }}">Complete</button>
                </form>
            </div>
        {% empty %}
            <p>No patients yet...</p>
        {% endfor %}
    </div>
    <div id="fltr-p"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const trtdate = document.querySelector('#trtdate');
            const ftbtn = document.querySelector('#ftbtn');
            const fltrp = document.querySelector('#fltr-p');
            const allp = document.querySelector('#all-p');

            var today = new Date();
            var day = String(today.getDate()).padStart(2, '0');
            var month = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            var year = today.getFullYear();

            today = year + '-' + month + '-' + day;

            document.getElementById('trtdate').value = today;

            ftbtn.addEventListener('click', function(event) {
                event.preventDefault();
                allp.style.display = 'none';
                fetch(`patients`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: JSON.stringify({
                        date: trtdate.value
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        const fpts = data.fpatients;
                        let fptnts = '';
                        if (fpts.length > 0) {
                            fptnts += `<h4>Pending patients of <b>${fpts[0].treatment_date}</b></h4>`;
                            fpts.forEach(fpt => {
                                fptnts += `
                        <div class="hos" id='divap-${fpt.id}'>
                            <h5>Patient Name: ${fpt.patient}</h5>
                            <b>Age: ${fpt.age}</b>
                            <b>Problem: ${fpt.problem}</b>
                            <b id='ser-${fpt.id}'>Serial Number: ${fpt.serial_number}</b>
                            <P><b>Treatment Date: </b>${fpt.treatment_date}</P>
                            <form id="frm-${fpt.id}">
                                <input type="hidden" name="csrfmiddlewaretoken" value="${data.csrf_token}">
                                <input type="hidden" name="doc" value="Doctor">
                                <button type="submit" class="btn btn-primary" id="bt-${fpt.id}">Complete</button>
                            </form>
                        </div>
                    `;
                            });

                            fltrp.innerHTML = fptnts;
                            fltrp.style.display = 'block';

                            fpts.forEach(fpt => {
                                const frm = document.querySelector(`#frm-${fpt.id}`);
                                const btn = document.querySelector(`#bt-${fpt.id}`);
                                const divap = document.querySelector(`#divap-${fpt.id}`);
                                const ser = document.querySelector(`#ser-${fpt.id}`);

                                frm.addEventListener('submit', function(event) {
                                    event.preventDefault();
                                    divap.style.display = 'none';
                                    fetch(`/appointments/del_ap/${fpt.id}`, {
                                        method: 'PUT',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                                        }
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            const serials = data.serial;
                                            serials.forEach(serial => {
                                                const seri = document.querySelector(`#ser-${serial.id}`);
                                                if (seri) {
                                                    seri.innerText = `Serial Number: ${serial.serial_number}`;
                                                }
                                            });
                                        });
                                });
                            });
                        } else {
                            fptnts += `<p>No patients yet...</p>`;
                            fltrp.innerHTML = fptnts;
                            fltrp.style.display = 'block';
                        }
                    });
            });
        });
    </script>
{% endblock %}
