body {
    margin: 20px;
    padding: 5px;
    background-color: #d8e6d9;
}



strong {
    font-size: 20px;
}

p {
    color: gray;
    font-size: 13px;
    font-family: arial;
}

.lc {
    width: 100%;
    cursor: pointer;
    background-color: #dfe1e5;
    border-radius: 20px;
    padding: 10px 0;
    text-align: center;
    border: none;
}

.lc:focus {
    outline: none;

}

.lcd {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: center;
}


.btfr {
    text-align: center;
    border: none;
    background-color: green;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

.btfr:focus {
    outline: none;
}

.btfr:hover {
    background-color: #008f0a;
}


a {
    color: black;
    text-decoration: none;
}

pre.custom {
    font-family: arial;
    /* Change to your preferred font */
    color: #333;
    /* Change text color */
    white-space: pre-wrap;
}

.post {
    padding: 20px;
    border: 2px solid #dfe1e5;
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(32, 33, 36, .28);
    background-color: #eff4ff;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 20px 0;
}


.fl {
    padding: 10px 0;
    margin: 0 50px;
    text-align: center;
}

.page-item {
    margin: 0 auto;
}

h3 {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

#compose-body {
    min-height: 300px;
}

.btn-primary {
    margin-top: 20px;
}

nav {
    border-radius: 7px;
}
nav .navbar-brand
{
    font-size: xx-large;
}


@media (max-width: 767.98px) {
    .navbar-light {
        padding: 15px;
    }
    .navbar-toggler {
        border: none;
        padding: 0;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
}

