* {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'arial', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color:black;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    margin:10px 0px 5px;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 20px 30px;
  }
  
  .menu a {
    color: #3c4043;
    text-decoration: none;
    margin-right: 20px;
    font-size: .9rem;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  .search-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    position: relative;
  }
  .search-logo{
    display: flex;
    flex-wrap: wrap;
  } 
  .search-logo img {
    width: 272px;
    height: 92px;
    position: relative;
    margin: 3px;
  }
  .search-logo .imgs{
      color: #4285f4;
      font: 16px/16px roboto-regular, arial, sans-serif;
      position:absolute;
      bottom: 89px;
      white-space: nowrap;
      margin: 89px 100px 0px 218px;
  }
  .search-bar {
    position: relative;
    width: 100%;
    padding:20px;
    align-items: center;
  }
  
  .search-bar input {
    
    height: 45px;
    width: 75%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 0px 100px 0px 50px;
    outline: 0;
    box-shadow: none;
    font-size: 18px;
    transition: box-shadow .3s;
    display: flex;
  }
  
  .search-bar input:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
  }
  
  .search-bar input:focus {
    box-shadow: 1 1 15px -4px #888888;
  }
  
  .search-bar .search-icon {
    position: absolute;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    top: 0;
    display: flex;
    font-size: 20px;
    color: #888888;
    padding:20px 20px 0 3px;
  }
  
  .search-bar .search-icon.right {
    right: 0;
    cursor: pointer;
  }
  
  .search-bar .search-icon.right div {
    right: 0;
    margin-left: 22px;
    cursor: pointer;
  }
  .search-bar .search-icon.right button img {
    cursor: pointer;
    margin-left: 12px;
    width: 21.99px;
    height: 21.99px;
  }

  .search-info {
    color:#4d5156;
    font-size: small;
    display: inline-block;
    line-height: 28px;
    margin: 10px;
  }
  
  .search-info a {
    color: #3f50b5;
    text-decoration: none;
    font-size: small;
  }
  
  .search-info a:hover {
    text-decoration: underline;
  }
  
  .search-buttons {
    display: flex;
    margin: 10px 4px;
    padding:2px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
  }
  
  .search-buttons .a {
    text-decoration: none;
    margin-right: 17px;
    background-color: #ecececaa;
    color: #3c4043;
    padding: 7px 12px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size:14px;
    color:#3c4043;
    cursor:pointer;
  }
  
  .search-buttons .a:last-child {
    margin-right: 0;
  }
  
  .search-buttons .a:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  
  .bottom-bar {
    display: flex;
    align-items: flex-end;
    line-height: 8px;
    background-color: #ecececaa;
    border-top: 1px solid #d4d4d4aa;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #202124;
    font-size: 14px;
  }
  
  .bar{
    display:flex;
    align-items: flex-end;
  }

  .bar .menu a{
    font-size:14px;
    color:#202124;

  }
  
  .search-icon.right{
    margin-right:20px;  
  }
  
  .search-icon.right i{
    font-size:1.55rem;
    cursor:pointer;
  }
  
  .search-icon.right button{
    width:45px;
    height:45px;
    border:none;
    outline:none;
    background: transparent;
    margin-right:60px;
  }
  
  .search-icon.right button i{
    color:#3322ff;  
  }
  
  .search-icon.right button:hover i{
    color:#0000ff;  
  }
  
  
  @media screen and (max-width: 635px) {
    .search-wrapper{
      width:90%;
    }
    .search-bar input{
      width: 68%;
    }
  }
  
  
  @media screen and (max-width: 500px) {
    .bottom-bar a{
      font-size:10px;
    }
  }