{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ subtitle }}</h2>
    <hr>
    <div class="row mx-3">
        {% for bid in bids %}
            {% if bid.blist != None %}
                <a id="sl" href="{% url 'd_list' bid.blist.id %}">
                    <div class="card mx-3" style="width: 18rem;">
                        <img class="card-img-top" src="{{ bid.blist.image_url }}" alt="{{ bid.blist.title }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ bid.blist.title }}</h4>
                            <p class="card-text">{{ bid.blist.description }}</p>
                            <p class="card-text"><strong>Current Price: ${{ bid.blist.price }}</strong></p>
                            <p class="card-text"><strong>Your bid was: ${{ bid.bid }}</strong></p>
                            <!-- <p class="card-text">To see the current price click on it.</p> -->
                        </div>
                    </div>
                </a>
            {% endif %}
            {% empty %}
                <li>No Bids yet</li>
        {% endfor %}
    </div>
{% endblock %}
