{% extends "auctions/layout.html" %}

{% block body %}
    {% if not listing.is_active and user == listing.price.bidder %}
        <div class="alert alert-success"><p><strong>Congratulation!</strong> This auction is already closed and you have won the auction.</p></div>
    {% endif %}
    <h2>Listing: {{ listing.title }}</h2>
    {% if user.is_authenticated and listing.is_active %}
        {% if isowner %}
            <form action="{% url 'close' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="lis" value="{{ listing.id }}">
                <input class="btn btn-danger" type="submit" value="Close auction">
            </form>
        {% endif %}
    {% endif %}
    <br>
    {% if user.is_authenticated %}
        {% if iswatch %}
            <form action="{% url 'd_list' listing.id %}" method="POST">
                {% csrf_token %}
                <P id="w">watchlisted</P>
                <input type="hidden" name="lis" value="{{ listing.id }}">
                <input type="hidden" name="addwatch" value="False">
                <input class="btn btn-danger" type="submit" value="Remove from watchlist">
            </form>
        {% else %}
            <form action="{% url 'd_list' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="lis" value="{{ listing.id }}">
                <input type="hidden" name="addwatch" value="True">
                <input class="btn btn-success" type="submit" value="Add to watchlist">
            </form>
        {% endif %}
    {% endif %}
    <hr>
    <div id="list">
            {% if mssage %}
               <div class="alert alert-info"><p>{{ mssage }}</p></div>
            {% endif %}
            {% if message %}
                    <div class="alert alert-info"><p>{{ message }}</p></div>
            {% endif %}
        <img id="img" src="{{ listing.image_url }}" alt="{{ listing.title }}">
        <div class="text">
            <h4>{{ listing.title }}</h4>
        </div>
        <div class="text">
            <p>{{ listing.description }}</p>
        </div>
        <div class="text"><strong>Current Price: ${{ listing.price.bid }}</strong></div>
        <br>
        <div class="text">
            {% if user.is_authenticated %}
                <form action="{% url 'bids' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="lis" value="{{ listing.id }}">
                    <input type="number" name="bid" plceholder="Start a bid" min=0 required>
                    <input class="btn btn-primary" type="submit" value="Place Bid">
                </form>
                <br>

            {% endif %}
        </div>
        <div class="text">
            <p>Listed by: {{ listing.owner }}</p>
        </div>
        <div class="text">
            <p>Category: {{ listing.category }}</p>
        </div>
        <br>
        <div class="text">
            {% if user.is_authenticated %}
                <form action="{% url 'comment' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="lis" value="{{ listing.id }}">
                    <input type="text" name="comment" plceholder="Comment for this listing" required>
                    <input class="btn btn-primary" type="submit" value="comment">
                </form>
            {% endif %}
        </div>
        <div class="comment">
            {% for comment in comments %}
                <li class="list-group-item">
                    <p><strong>Comment of "{{ comment.commentor }}": </strong>{{ comment.comment }}</p>
                </li>
            {% empty %}
                <h4>No comments yet.</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}
