{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ subtitle }}</h2>
    <hr>
    <div class="row mx-3">
    {% for act in active %}
    <a id="sl" href="{% url 'd_list' act.id %}">
        <div class="card mx-3" style="width: 18rem;">
            <img class="card-img-top" src="{{ act.image_url }}" alt="{{ act.title }}">
            <div class ="card-body">
                <h4 class="card-title">{{ act.title }}</h4>
                <p class="card-text">{{ act.description }}</p>
                <p class="card-text"><strong>Current Price: ${{ act.price }}</strong></p>
            </div>
        </div>
    {% empty %}
    <li>No {{ subtitle }}</li>
    </a>
    {% endfor %}
    </div>
{% endblock %}
