body {
    margin:20px;
    padding: 20px;
}

.card-img-top{
    height:40vh;
}

.card{
   margin-top:20px;
}

#sl{
    color:black;
}

#list {
    padding:20px;
    border: 2px solid #dfe1e5;
    border-radius: 7px;
    box-shadow: 0 2px 6px  rgba(32,33,36,.28);
    background-color: #eff4ff;
    display:flex;
    flex-direction:column;
    height:auto;
    width:100%;
    margin: 60px 20px;

}

#img{
    margin: 20px;
    padding:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.text{
    text-align:center;
}
#w{
    padding: 3px;
    color:white;
    border-radius: 5px;
    background-color:gray;
    width:90px;
    text-align:center;
}

.comment {
    padding:20px;
    border: None;
    background-color: #eff4ff;
    display:flex;
    flex-direction:column;
    height:auto;
    width:450px;
    margin: 0 auto;
    margin-top: 20px;
    text-align:center;
}

.list-group-item{
    margin:10px;
}

.sign{
    margin-left:0px;
}
