{% extends "encyclopedia/layout.html" %}

{% block title %}
   Edit
{% endblock %}

{% block body %}
<h1> Edit entry page "{{ title }}" </h1>

    <form action="{% url 's_edit' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" class="title" name="title" value="{{ title }}" required>
        <br>
        <textarea name="text" rows="5" placeholder="Enter your markdown content: " required>{{ md_text }}</textarea>
        <br>
        <input type="submit" class="button" value="Save">
    </form>
{% endblock %}
