{% extends "hospitals/layout.html" %}

{% block body %}

    {% if user.is_patient %}
        <h2>Doctors of {{ hosid.name }}</h2>

        {% for doc in doctors %}
            <div class="hos">
                <h4>Dr. {{ doc.user.username }}</h4>
                <p><strong>Specialist:</strong> {{ doc.specialization }}</p>
                <p><strong>Treatment Time:</strong> From {{ doc.fro }} to {{ doc.to }} on every {{ doc.weeks }}.</p>
                <a href="{% url 'appointments:appointment' doc.id %}"><button class="btn btn-success">Book an appointment</button></a>
            </div>
        {% empty %}
            <h4>No registered doctors yet...</h4>
        {% endfor %}

    {% endif %}

{% endblock %}
